<div id="<%= dom_id holiday %>">
  <p>
    <strong>Title:</strong>
    <%= holiday.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= holiday.location %>
  </p>

  <p>
    <strong>Google map url:</strong>
    <%= holiday.google_map_url %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= holiday.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= holiday.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= holiday.description %>
  </p>

</div>
